In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [5]:
engine = create_engine("postgresql://postgres:postgres@localhost:5434/hawaii_db")

In [6]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [7]:
# We can view all of the classes that automap found
Base.classes.keys()

['stations', 'measurements']

In [8]:
# Save references to each table
Measurement = Base.classes.measurements
Station = Base.classes.stations

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Climate Analysis

In [10]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results

# Calculate the date 1 year ago from the last data point in the database
prev_year = dt.date(2017, 8, 23) - dt.timedelta(days = 365)
#prev_year
# Perform a query to retrieve the data and precipitation scores
results = session.query(Measurement.date, Measurement.prcp).all()
results
# Save the query results as a Pandas DataFrame and set the index to the date column
df = pd.DataFrame(results, columns=['date', 'precipitation'])
df
# Sort the dataframe by date
df.set_index(df['date'], inplace=True)
df.sort_index()

# Use Pandas Plotting with Matplotlib to plot the data
#df.drop(columns=['date'], inplace=True)
#df.plot(rot=90)

                  date precipitation
date
2010-01-01  2010-01-01          0.08
2010-01-01  2010-01-01          0.21
2010-01-01  2010-01-01          0.15
2010-01-01  2010-01-01          0.15
2010-01-01  2010-01-01          0.05
2010-01-01  2010-01-01          0.14
2010-01-01  2010-01-01          0.28
2010-01-02  2010-01-02             0
2010-01-02  2010-01-02             0
2010-01-02  2010-01-02             0
2010-01-02  2010-01-02          0.02
2010-01-02  2010-01-02             0
2010-01-02  2010-01-02             0
2010-01-02  2010-01-02             0
2010-01-03  2010-01-03             0
2010-01-03  2010-01-03             0
2010-01-03  2010-01-03             0
2010-01-03  2010-01-03             0
2010-01-03  2010-01-03             0
2010-01-03  2010-01-03             0
2010-01-03  2010-01-03             0
2010-01-04  2010-01-04             0
2010-01-04  2010-01-04             0
2010-01-04  2010-01-04             0
2010-01-04  2010-01-04             0
2010-01-04  2010-01-04             0
2010-01-04  2010-01-04             0
2010-01-04  2010-01-04          0.01
2010-01-05  2010-01-05             0
2010-01-05  2010-01-05             0
...                ...           ...
2017-08-16  2017-08-16             0
2017-08-16  2017-08-16          0.07
2017-08-16  2017-08-16          0.42
2017-08-16  2017-08-16          0.12
2017-08-17  2017-08-17          0.01
2017-08-17  2017-08-17             0
2017-08-17  2017-08-17          0.13
2017-08-17  2017-08-17          0.05
2017-08-18  2017-08-18             0
2017-08-18  2017-08-18          0.06
2017-08-18  2017-08-18             0
2017-08-18  2017-08-18          None
2017-08-19  2017-08-19             0
2017-08-19  2017-08-19             0
2017-08-19  2017-08-19          0.09
2017-08-19  2017-08-19          None
2017-08-20  2017-08-20          None
2017-08-20  2017-08-20             0
2017-08-20  2017-08-20          0.01
2017-08-21  2017-08-21             0
2017-08-21  2017-08-21          None
2017-08-21  2017-08-21          0.02
2017-08-21  2017-08-21          0.56
2017-08-22  2017-08-22             0
2017-08-22  2017-08-22             0
2017-08-22  2017-08-22           0.5
2017-08-23  2017-08-23             0
2017-08-23  2017-08-23             0
2017-08-23  2017-08-23          0.08
2017-08-23  2017-08-23          0.45

[19550 rows x 2 columns]

![precipitation](Images/precipitation.png)

In [11]:
# Use Pandas to calcualte the summary statistics for the precipitation data

![describe](Images/describe.png)

In [12]:
# Design a query to show how many stations are available in this dataset?
session.query(func.count(Station.station)).all()

[(9)]

In [13]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.
session.query(Measurement.station, func.count(Measurement.station)).\
group_by(Measurement.station).order_by(func.count(Measurement.station).
                                      desc()).all()

[('USC00519281', 2772),
 ('USC00519397', 2724),
 ('USC00513117', 2709),
 ('USC00519523', 2669),
 ('USC00516128', 2612),
 ('USC00514830', 2202),
 ('USC00511918', 1979),
 ('USC00517948', 1372),
 ('USC00518838', 511)]

In [14]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature most active station?
lowest = func.min(Measurement.tobs)

highest = func.max(Measurement.tobs)

average = func.avg(Measurement.tobs)

session.query(lowest, highest, average).all()

[(53, 87, Decimal('73.0979539641943734'))]

In [15]:
results = session.query(Measurement.tobs).\
filter(Measurement.station == 'USC00519281').all()

df = pd.DataFrame(results, columns=['tobs'])
df

      tobs
0       70
1       62
2       74
3       75
4       74
5       76
6       69
7       66
8       70
9       75
10      64
11      60
12      61
13      68
14      64
15      66
16      67
17      70
18      67
19      67
20      69
21      60
22      75
23      75
24      65
25      75
26      69
27      67
28      66
29      69
...    ...
2742    72
2743    74
2744    74
2745    76
2746    80
2747    80
2748    76
2749    76
2750    76
2751    77
2752    77
2753    77
2754    82
2755    75
2756    77
2757    75
2758    76
2759    81
2760    82
2761    81
2762    76
2763    77
2764    82
2765    83
2766    77
2767    77
2768    77
2769    76
2770    76
2771    79

[2772 rows x 1 columns]

In [16]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

![precipitation](Images/station-histogram.png)

In [17]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

[(62, Decimal('69.5714285714285714'), 74)]

In [18]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [19]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [20]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

## Optional Challenge Assignment

In [21]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

ProgrammingError: (psycopg2.ProgrammingError) function strftime(unknown, date) does not exist
LINE 3: WHERE strftime('%m-%d', measurements.date) = '01-01'
              ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.
 [SQL: 'SELECT min(measurements.tobs) AS min_1, avg(measurements.tobs) AS avg_1, max(measurements.tobs) AS max_1 \nFROM measurements \nWHERE strftime(%(strftime_1)s, measurements.date) = %(strftime_2)s'] [parameters: {'strftime_1': '%m-%d', 'strftime_2': '01-01'}] (Background on this error at: http://sqlalche.me/e/f405)

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`